<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of datuak.data">
      <ion-avatar slot="start">
        <img [src]="user.avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p>{{ user.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Soporte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ datuak.support.text }}</p>
      <p>
        <a [href]="datuak.support.url" target="_blank">{{ datuak.support.url }}</a>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-button (click)="Insert()">Insert</ion-button>
    <ion-button (click)="Update()">Update</ion-button>
    <ion-button (click)="Delete()">Delete</ion-button>
    <ion-button (click)="Select()">Select</ion-button>
  </ion-list>

  <ion-list>
    <ion-button (click)="Insert_Alerta()">Insert Alerta</ion-button>
    <ion-button (click)="Update_Alerta()">Update Alerta</ion-button>
    <ion-button (click)="Delete_Alerta()">Delete Alerta</ion-button>
    <ion-button (click)="Select_Alerta()">Select Alerta</ion-button>
  </ion-list>

  <ion-card>
    <ion-list>
      <ion-input name="id_Input" type="number" label="Id_Input" placeholder="Idatzi id" [(ngModel)]="id_Input"
        required="true"></ion-input>
      <ion-input name="email_Input" type="text" label="Email_Input" placeholder="Idatzi email" [(ngModel)]="email_Input"
        required="true"></ion-input>
      <ion-input name="first_name_Input" type="text" label="First_name_Input" placeholder="Idatzi izena"
        [(ngModel)]="first_name_Input" required="true"></ion-input>
      <ion-input name="last_name_Input" type="text" label="Last_name_Input" placeholder="Idatzi abizena"
        [(ngModel)]="last_name_Input" required="true"></ion-input>
      <ion-input name="avatar_Input" type="text" label="Avatar_Input" placeholder="Idatzi URL"
        [(ngModel)]="avatar_Input" required="true"></ion-input>
    </ion-list>

    <ion-list>
    <ion-button (click)="Insert_Campo()">Insert Input</ion-button>
    <ion-button (click)="Update_Campo()">Update Input</ion-button>
    <ion-button (click)="Delete_Campo()">Delete Input</ion-button>
    <ion-button (click)="Select_Campo()">Select Input</ion-button>
    </ion-list>
  </ion-card>

</ion-content>